@use 'src/styles';

.calculator-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  h3 {
    font-size: 2.6rem;
  }

  .theme-changer {
    display: flex;

    span {
      align-self: flex-end;
      margin-right: 2rem;
      padding-bottom: 0.5rem;
      letter-spacing: 2px;
    }

    .theme-toggle {
      display: flex;
      flex-direction: column;

      .labels {
        margin-bottom: 0.7rem;

        label {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
