@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//colors
$bg1: hsl(222, 26%, 31%);
$bg2: hsl(223, 31%, 20%);
$bg3: hsl(224, 36%, 15%);
$key1: hsl(225, 21%, 49%);
$key1-shadow: hsl(224, 28%, 35%);
$key2: hsl(45, 7%, 89%);
$key2-shadow: hsl(35, 11%, 61%);
$key-orange: hsl(25, 98%, 40%);
$orange-shadow: hsl(25, 99%, 27%);
$text: hsl(60, 10%, 19%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Spartan", sans-serif;
}

body {
  background: $bg1;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-slider-horizontal {
  min-width: 10rem;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 0;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 2.4rem;
  border-radius: 1rem;
}

.mat-slider.mat-slider-horizontal
  .mat-slider-track-wrapper
  .mat-slider-track-background {
  transform: translateX(0px) !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-slider-horizontal .mat-slider-wrapper::after,
.mat-slider-horizontal .mat-slider-wrapper::before {
  display: none;
}

.mat-slider-horizontal .mat-slider-wrapper .mat-slider-ticks-container {
  display: none;
}

.mat-slider-thumb {
  transform: scale(1) !important;
}

.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb,
.mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb,
.mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb {
  border: 0px;
}

.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused
  .mat-slider-track-background,
.mat-slider:not(.mat-slider-disabled).cdk-touch-focused
  .mat-slider-track-background,
.mat-slider:not(.mat-slider-disabled).cdk-program-focused
  .mat-slider-track-background {
  transform: translateX(0px) !important;
}

.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-track-fill,
.mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-track-fill,
.mat-slider:not(.mat-slider-disabled).cdk-program-focused
  .mat-slider-track-fill {
  transform: translateX(0px) !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: rgba(0, 0, 0, 0.26);
}

.mat-accent .mat-slider-thumb {
  height: 3rem;
  width: 3rem;
  background-color: $key-orange;
  border: solid 0px gray;
  bottom: -2.6rem;
  right: -1.5rem;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: $key-orange;
}
